.sidebar{
    position: fixed;
    /* top: 0; */
    margin-right: 0px;
    width:180px;
    background-color: white;
    text-align: center;
    padding: 8px;
    
}
.sidebar > h4 {
    margin: 10px;
    
}
.sidebar__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    
}

